html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  background: #fff;
  font-family: 'Sarala', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4 {
  color: #EB5B27; }

.blued {
  color: #11A0D2; }

.greeny {
  color: #B8DAB7; }

.relative {
  position: relative; }

.overflow-none {
  overflow: hidden; }

.hidden {
  display: none; }

#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1; }
  #loader .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px; }

#usermenu {
  position: absolute;
  right: 0px; }
  #usermenu a {
    color: #EB5B27;
    font-size: 1.5em; }

#solidarischForm {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 347px;
  z-index: 2; }
  @media screen and (max-width: 699px) {
    #solidarischForm {
      position: static;
      margin: 0 auto;
      width: 100%; } }

#eventForm {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 347px;
  z-index: 2; }
  @media screen and (max-width: 699px) {
    #eventForm {
      position: static;
      margin: 0 auto;
      width: 100%; } }

form, .form {
  background-color: #fff;
  border-radius: 2px; }
  form h3,
  form small,
  form p, .form h3,
  .form small,
  .form p {
    color: #EB5B27; }
  form .row, .form .row {
    margin-bottom: 0; }
  form input[type=text],
  form input[type=email],
  form input[type=password], .form input[type=text],
  .form input[type=email],
  .form input[type=password] {
    height: 2.5rem;
    border-bottom-color: #EB5B27; }
    form input[type=text]:focus,
    form input[type=email]:focus,
    form input[type=password]:focus, .form input[type=text]:focus,
    .form input[type=email]:focus,
    .form input[type=password]:focus {
      border-bottom-color: #EB5B27;
      box-shadow: 0 1px 0 #EB5B27; }
      form input[type=text]:focus + label,
      form input[type=email]:focus + label,
      form input[type=password]:focus + label, .form input[type=text]:focus + label,
      .form input[type=email]:focus + label,
      .form input[type=password]:focus + label {
        color: #EB5B27; }
    form input[type=text].valid,
    form input[type=email].valid,
    form input[type=password].valid, .form input[type=text].valid,
    .form input[type=email].valid,
    .form input[type=password].valid {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50; }
      form input[type=text].valid + label,
      form input[type=email].valid + label,
      form input[type=password].valid + label, .form input[type=text].valid + label,
      .form input[type=email].valid + label,
      .form input[type=password].valid + label {
        color: #4CAF50 !important; }
  form textarea, .form textarea {
    border-bottom-color: #EB5B27; }
    form textarea:focus, .form textarea:focus {
      border-bottom-color: #EB5B27 !important;
      box-shadow: 0 1px 0 #EB5B27 !important; }
      form textarea:focus + label, .form textarea:focus + label {
        color: #EB5B27 !important; }
    form textarea.valid, .form textarea.valid {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50; }
      form textarea.valid + label, .form textarea.valid + label {
        color: #4CAF50 !important; }
  form label, .form label {
    color: #EB5B27; }
  form div.error, .form div.error {
    position: absolute;
    font-size: 0.7em;
    top: 1em;
    left: 100%;
    min-width: 220px;
    background: #EB5B27;
    color: #fff !important;
    padding: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
    form div.error::before, .form div.error::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      border-right: 11px solid #EB5B27;
      position: absolute;
      left: -11px;
      top: 0; }
    @media screen and (max-width: 991px) {
      form div.error, .form div.error {
        position: relative;
        left: 0;
        top: -2px; }
        form div.error::before, .form div.error::before {
          border-top: 0px solid transparent;
          border-bottom: 11px solid #EB5B27;
          border-right: 11px solid transparent;
          border-left: 11px solid transparent;
          left: 0px;
          top: -11px; } }
  form .btn, .form .btn {
    margin-top: 1em;
    padding: 0 0.5em;
    border: 3px solid #EB5B27;
    background-color: #fff;
    color: #EB5B27;
    cursor: pointer;
    height: auto;
    min-height: 48px; }
    form .btn.full, .form .btn.full {
      width: 100%; }
    form .btn[disabled], .form .btn[disabled] {
      border: 3px solid #DFDFDF; }
    form .btn:hover, .form .btn:hover {
      background-color: #EB5B27;
      color: #fff; }

.icon {
  width: 48px;
  text-align: center; }

.modal {
  background-color: #fff;
  max-width: 600px; }

.sweet-alert {
  border-radius: 2px; }
  .sweet-alert button {
    border-radius: 2px; }

.block {
  margin: 3rem 0;
  margin-bottom: 1rem; }
  .block h1, .block h2, .block h3, .block h3, .block h4, .block h5 {
    margin: .5rem 0; }
  .block h2 {
    font-size: 2.5rem; }
  .block p {
    max-width: 50%;
    margin: 2rem auto; }

.dropzone {
  margin: 1rem 0;
  border: 2px solid #EB5B27;
  color: #fff;
  background: #f5c19a;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5c19a 0%, #e69dbb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c19a', endColorstr='#e69dbb',GradientType=1 );
  /* IE6-9 */ }
  .dropzone .fa {
    font-size: 2em; }
  .dropzone.dz-started, .dropzone.dz-complete {
    padding: 0px; }
    .dropzone.dz-started .dz-preview.dz-image-preview, .dropzone.dz-complete .dz-preview.dz-image-preview {
      background: transparent;
      margin: 0px;
      width: 100%;
      min-height: 150px; }
      .dropzone.dz-started .dz-preview.dz-image-preview .dz-image, .dropzone.dz-complete .dz-preview.dz-image-preview .dz-image {
        border-radius: 0px;
        overflow: hidden;
        width: 100%;
        height: 150px;
        position: relative;
        display: block;
        z-index: 10; }
        .dropzone.dz-started .dz-preview.dz-image-preview .dz-image img, .dropzone.dz-complete .dz-preview.dz-image-preview .dz-image img {
          width: 100%;
          height: 150px; }
    .dropzone.dz-started .dz-preview .dz-remove, .dropzone.dz-complete .dz-preview .dz-remove {
      position: absolute;
      top: -1.5em;
      z-index: 100;
      right: -2px;
      color: #fff;
      background: #EB5B27;
      font-weight: normal;
      padding: 0 .5em;
      border-radius: 3px 3px 0px 0px; }
    .dropzone.dz-started .dz-preview .dz-error-message, .dropzone.dz-complete .dz-preview .dz-error-message {
      background: #EB5B27;
      border-radius: 2px;
      left: 10px;
      width: 160px; }
      .dropzone.dz-started .dz-preview .dz-error-message::after, .dropzone.dz-complete .dz-preview .dz-error-message::after {
        border-bottom-color: #EB5B27; }

.autocomplete-suggestions {
  font-size: 0.9em;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background: #FFF;
  overflow: auto;
  position: absolute;
  width: 350px !important;
  max-width: 100% !important; }

.autocomplete-suggestion {
  padding: 5px;
  opacity: 0.5;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0; }

.autocomplete-selected {
  cursor: pointer;
  background-color: #f0f0f0;
  opacity: 1; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #EB5B27; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

@-webkit-keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0; } }

@keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0; } }

#wo_map {
  width: 100%;
  height: 600px;
  max-height: 100%;
  color: #EB5B27;
  z-index: 1; }
  #wo_map .baseIcon {
    background-color: #EB5B27;
    border-radius: 50%;
    position: relative; }
    #wo_map .baseIcon::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0px;
      top: 0px;
      background-color: #EB5B27;
      border-radius: 50%;
      -webkit-animation-name: scaler;
      animation-name: scaler;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }
  #wo_map .leaflet-control-container .leaflet-control-fullscreen a {
    background-image: url("/images/markers/fullscreen.png"); }
  #wo_map .leaflet-control-container .leaflet-bar {
    border-radius: 2px; }
    #wo_map .leaflet-control-container .leaflet-bar a {
      color: #EB5B27; }
      #wo_map .leaflet-control-container .leaflet-bar a:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
      #wo_map .leaflet-control-container .leaflet-bar a:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
  #wo_map .leaflet-popup .leaflet-popup-close-button {
    top: 3px; }
  #wo_map .leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 2px;
    padding: 8px;
    color: #EB5B27; }
    #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
      margin: 0px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .header {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -8px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: calc(100% + 16px);
        min-height: 200px;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        /*.image{

            filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
             filter: gray;
             filter: grayscale(100%);
          }*/ }
        #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .header::before {
          content: '';
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          background-color: #000;
          position: absolute;
          opacity: 0.3;
          transition: opacity .3s ease-in-out; }
        #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .header .title {
          width: 100%;
          height: 100%;
          left: 0px;
          text-align: center;
          font-size: 2.5em;
          padding: 5%;
          position: relative;
          z-index: 3; }
      #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body {
        padding: 0px;
        padding-right: 20px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body.event {
          width: 240px;
          padding: 8px; }
        #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body .report {
          text-align: right; }
        #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body .content {
          margin: 3px 0; }
          #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body .content .text {
            font-size: 1.2em;
            margin-left: 3px; }
          #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .body .content.description {
            margin: 10px 10px;
            margin-left: 18px; }
      #wo_map .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content:hover .header::before {
        opacity: 0; }

.facebook {
  color: #3b5998; }

.google {
  color: #dd4b39; }

.twitter {
  color: #55acee; }

form .btn.icon.facebook, .form .btn.icon.facebook {
  background-color: #3b5998;
  color: #fff;
  border-color: #fff; }

form .btn.icon.google, .form .btn.icon.google {
  background-color: #dd4b39;
  color: #fff;
  border-color: #fff; }

form .btn.icon.twitter, .form .btn.icon.twitter {
  background-color: #55acee;
  color: #fff;
  border-color: #fff; }

/*# sourceMappingURL=app.css.map */
