// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "_colors";
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  color: $color;
}
img{
  max-width: 100%;
}
.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}
.blued {
  color: $blued;
}
.greeny {
  color: $greeny;
}
.relative {
  position: relative;
}
.overflow-none {
  overflow: hidden;
}
.hidden {
  display: none;
}
.banner{
  font-size:3em;
  text-align: center;
  max-width: 300px;
  .title{
    color:$white;
    background: $color;
    padding: .2em;
  }
  .slogan{
    color:$color;
    padding:.2em;
    line-height: 1.2em;
    background-color: lighten($color, 25);
  }
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
  }
}
#usermenu {
  position: absolute;
  right: 0;
  a {
    color: $color;
    font-size: 1.5em;
  }
  .dropdown-button {
    margin: 1em 0;
    padding:0;
    text-transform: capitalize;
  }
  @media screen and (max-width: 600px){
    position: static;
    .dropdown-button{
      margin:.5em;
    }
  }
}
#solidarischForm {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 347px;
  z-index: 2;
  @media screen and (max-width: 699px) {
    position: static;
    margin: 0 auto;
    width: 100%;
  }
}
#eventForm {
  position: absolute;
  top: -300px;
  left: 40px;
  width: 347px;
  z-index: 2;
  @media screen and (max-width: 699px) {
    position: static;
    margin: 0 auto;
    width: 100%;
  }
}
.form,
form {
  background-color: $white;
  border-radius: 2px;
  h3,
  p,
  small {
    color: $color;
  }
  .row {
    margin-bottom: 0;
  }
  input[type=email],
  input[type=password],
  input[type=text] {
    height: 2.5rem;
    border-bottom-color: $color;
    &:focus {
      border-bottom-color: $color;
      box-shadow: 0 1px 0 $color;
      + label {
        color: $color;
      }
    }
    &.valid {
      border-bottom: 1px solid $green;
      box-shadow: 0 1px 0 0 $green;
      + label {
        color: $green !important;
      }
    }
  }
  textarea {
    border-bottom-color: $color;
    &:focus {
      border-bottom-color: $color !important;
      box-shadow: 0 1px 0 $color !important;
      + label {
        color: $color !important;
      }
    }
    &.valid {
      border-bottom: 1px solid $green;
      box-shadow: 0 1px 0 0 $green;
      + label {
        color: $green !important;
      }
    }
  }
  label {
    color: $color;
  }
  div.error {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    top: 1em;
    left: 100%;
    min-width: 220px;
    background: $color;
    color: $white !important;
    padding: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      border-right: 11px solid $color;
      position: absolute;
      left: -11px;
      top: 0;
    }
    @media screen and (max-width:991px) {
      position: relative;
      left: 0;
      top: -2px;
      &::before {
        border-top: 0 solid transparent;
        border-bottom: 11px solid $color;
        border-right: 11px solid transparent;
        border-left: 11px solid transparent;
        left: 0;
        top: -11px;
      }
    }
  }
  .btn {
    margin-top: 1em;
    padding: 0 0.5em;
    border: 3px solid $color;
    background-color: #fff;
    color: $color;
    cursor: pointer;
    height: auto;
    min-height: 48px;
    &.full {
      width: 100%;
    }
    &[disabled] {
      border: 3px solid #DFDFDF;
    }
    &:hover {
      background-color: $color;
      color: $white;
    }
    &.big{
      background-color:$color;
      color:$white;
      width:100%;
    }
  }
}
.btn {

  padding: 0 0.5em;
  border: 3px solid $color;
  background-color: #fff;
  color: $color;
  cursor: pointer;
  height: auto;
  min-height: 48px;
  &.full {
    width: 100%;
  }
  &[disabled] {
    border: 3px solid #DFDFDF;
  }
  &:hover {
    background-color: $color;
    color: $white;
  }
  &.big{
    background-color:$color;
    color:$white;
    width:100%;
    font-size:1.5em;
    padding:.5em;
    text-transform: none;
  }
}
.icon {
  width: 48px;
  text-align: center;
}
.modal {
  background-color: $white;
  max-width: 600px;
  max-height: 80%;
}
.sweet-alert {
  border-radius: 2px;
  button {
    border-radius: 2px;
  }
}
.block {
  margin: 3rem 0 1rem;
  h1,
  h2,
  h3,
  h3,
  h4,
  h5 {
    margin: 0.5rem 0;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    max-width: 50%;
    margin: 2rem auto;
  }
}
.dropzone {
  margin: 1rem 0;
  .fa {
    font-size: 2em;
  }
  border: 2px solid $color;
  color: $white;
  background: #f5c19a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f5c19a 0%, #e69dbb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f5c19a 0%,#e69dbb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5c19a 0%,#e69dbb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f5c19a', endColorstr='#e69dbb',GradientType=1 );
  /* IE6-9 */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &.dz-complete,
  &.dz-started {
    padding: 0;
    .dz-preview {
      &.dz-image-preview {
        background: transparent;
        margin: 0;
        width: 100%;
        min-height: 150px;
        .dz-image {
          border-radius: 0;
          overflow: hidden;
          width: 100%;
          height: 150px;
          position: relative;
          display: block;
          z-index: 10;
          img {
            width: 100%;
            height: 150px;
          }
        }
      }
      .dz-remove {
        position: absolute;
        top: -1.5em;
        z-index: 100;
        right: -2px;
        color: $white;
        background: $color;
        font-weight: normal;
        padding: 0 0.5em;
        border-radius: 3px 3px 0 0;
      }
      .dz-error-message {
        background: $color;
        border-radius: 2px;
        left: 10px;
        width: 160px;
        &::after {
          border-bottom-color: $color;
        }
      }
    }
  }
}
