// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_colors";

html,
body {
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
}
body {
  background: #fff;
font-family: 'Sarala', sans-serif;
  font-size: 16px;
}
h1,h2,h3,h4{
  color:$color;
}
.blued{
  color:$blued;
}
.greeny{
  color:$greeny;
}
.relative{
  position:relative;
}
.overflow-none{
  overflow: hidden;
}
#loader{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: #fff;
  z-index: 1;
  .preloader-wrapper{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-32px;
    margin-top:-32px;
  }
}
#solidarischForm {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 250px;
  z-index: 1;
  @media screen and (max-width: 699px){
    position: static;
    margin:0 auto;
    width: 100%;

  }
}
form, .form {
  background-color: $white ;
  border-radius: 2px;
  h3,
  small,
  p {
    color: $color;
  }
  .row {
    margin-bottom: 0;
  }
  input[type=text],
  input[type=email],
  input[type=password] {
    height: 2.5rem;
    border-bottom-color: $color;
    &:focus {
      border-bottom-color: $color;
      box-shadow: 0 1px 0 $color;
      + label {
        color: $color;
      }
    }
    &.valid {
      border-bottom: 1px solid $green;
      box-shadow: 0 1px 0 0 $green;
      + label {
        color: $green !important;
      }
    }
  }

  label {
    color: $color;
  }
  div.error {
    position: absolute;
    font-size: 0.7em;
    top: 1em;
    left: 100%;
    min-width: 220px;
    background: $color;
    color: $white !important;
    padding: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      border-right: 11px solid $color;
      position: absolute;
      left: -11px;
      top: 0;
    }
    @media screen and (max-width:991px){
      position:relative;
      left:0;
      top:-2px;
      &::before{
        border-top: 0px solid transparent;
        border-bottom: 11px solid $color;
        border-right: 11px solid transparent;
        border-left: 11px solid transparent;
        left:0px;
        top:-11px;
      }
    }
  }
  .btn {
    margin-top: 1em;
    padding: 0 0.5em;
    border: 3px solid $color;
    background-color: #fff;
    color: $color;

    cursor: pointer;
    height: auto;
    min-height: 48px;
    &.full{
      width: 100%;
    }

    &[disabled] {
      border: 3px solid #DFDFDF;
    }
    &:hover{
      background-color: $color;
      color:$white;
    }
  }
}
.icon{
  width:48px;
  text-align:center;
}
.modal{
  background-color: $white;
  max-width: 600px;
}
.sweet-alert {
  border-radius: 2px;
  button {
    border-radius: 2px;
  }
}
.block{
  margin:3rem 0;
  margin-bottom:6rem;
  h1,h2,h3,h3,h4,h5{
    margin:.5rem 0;
  }
  h2{
    font-size:2.5rem;
  }
  p{
    max-width: 50%;
    margin:2rem auto;
  }
}
