@import "_colors";
.facebook{
  color:$facebook;
}
.google{
  color:$google;
}
.twitter{
  color:$twitter;
}
form, .form{
.btn{
  &.icon{
    &.facebook{
      background-color: $facebook;
      color:$white;
      border-color:$white;
    }
    &.google{
      background-color: $google;
      color:$white;
      border-color:$white;
    }
    &.twitter{
      background-color: $twitter;
      color:$white;
      border-color:$white;
    }
  }
}
}
